<p>clases works!

<div [ngClass]="'alert-info'" class="alert" role="alert">
  <strong>alert-info</strong>
</div>
<hr>
<div [ngClass]="alerta" class="alert" role="alert">
  <strong>Alert desde Alert button: {{alerta}}</strong>
</div>


<button type="button" class="btn btn-info"
        (click)="alerta = 'alert-info'">INFO
</button>
<button type="button" class="btn btn-success"
        (click)="alerta = 'alert-success'">SUCCESS
</button>


<br><br>
<div class="well">
  <h3 [ngClass]="{'text-danger':propiedades['danger'],'text-info':!propiedades['danger']}">
    Hola Mundo - [ngClass]=" 'text-danger':{{propiedades['danger']}} "
  </h3>
  <button (click)="propiedades['danger'] = !propiedades['danger']"
          type="button" name="button"
          class="btn btn-danger"
          [ngClass]="{'btn-danger':!propiedades['danger'],'btn-info':propiedades['danger']}"
  >Cambiar
  </button>
</div>
<br>  <br>
<hr>
<h3>Proceso Asíncrono</h3>

<button
  (click)="ejecutar()"
  class="btn btn-primary"
  [disabled]="loading"
  [ngClass]="{'btn-primary':!loading,'btn-danger':loading}">
  <i [ngClass]="{'fa-save btn-primary':!loading,'fa-spinner fa-spin ':loading}"
    class="fa" aria-hidden="true"></i>
   <span *ngIf="!loading"> Guardar Cambios</span>
   <span *ngIf="loading"> Espere por favor</span>
</button>


<br><br><br>

